
<h2>Controle Cozinha</h2>
<div *ngIf="orders.length === 0">Não há pedidos pendentes ou em andamento.</div>

<div *ngFor="let order of orders">
  <!-- Cabeçalho do pedido: ID e dropdown para alterar status fora do quadrado -->
  <div class="order-header">
    <h3 style="font-size: 25px;">Pedido {{ order.id }}</h3>
    <div class="status-dropdown">
      <label for="statusDropdown"></label>
      <select [(ngModel)]="order.status" (change)="updateOrderStatus(order)">
        <option value="Pendente">Pendente</option>
        <option value="Fazendo">Fazendo</option>
        <option value="Despache">Pronto</option>
      </select>
    </div>
  </div>

  <!-- Quadrado contendo os produtos -->
  <div class="order-container">
    <!-- Listagem dos produtos -->
    <ul>
      <li *ngFor="let product of order.product">
        <span class="product-name">{{ product.name }}</span> <!-- Nome do produto -->
        <span class="product-description">{{ product.description }}</span> <!-- Descrição do produto -->
      </li>
    </ul>
  </div>
</div>

<div class="button-footer">

</div>

