.order-container {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px 0;
    border-radius: 8px;
  }
  
  .order-container h3 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 4px 0;
  }
  